* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
}


.welcome {
   margin: 20px;
   padding: 20px;
   display: flex;
   justify-content: center;
}

.time-left {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

header h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.quiz-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
}

.quiz-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.answers-here {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.q-box {
    box-sizing: border-box;
    margin: 25px;
    width: 550px;
}

.a-box {
    box-sizing:border-box;
    margin-bottom: 0px;
}

.answers-left {
    display: flex;
    flex-direction: column;
}

.answers-right {
    display: flex;
    flex-direction: column;
}

.answer {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
    max-width: 400px;
    height: auto;
    
}


.submit-button {
    margin-bottom: 25px;
}